.bg-primary {
  background-color: #920000 !important;


}
:root {
--primary: #cb6bff;
    --secondary: #29e6ff;
}

.container-fluid {
  display: flex;


}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(107, 107, 107);
  color: black;
  text-align: center;
}

.my-container {
 
  margin-top: 175px;
}

.my-row {

}

.my-col {

}

.link-success {
  color: green;
}

.btn-light {
  background-color:#4267B2;
}

.btn-dark {
  background-color:#1DA1F2;
}

.img-fluid. {
max-width: 100%;

height: auto;
}

.maintxt {
  background-image: url(images/background.png);
  background-size: cover;
}


.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;  
  margin-left: -50vw;
 
}

.full-width-image img {
  height: 700px;
  
}

.big-banner {
  background-image: url('people_together.jpg');
  background-size: 100%;
  background-position-y: center;

}

.small-banner {
  background-image: url('call_center1.jpg');
  background-size: 100%;
  background-position-y: center;
}

.card-img-top {
  height: 250px;
}

.list-group {
  border-color : ;

}

.container-user {
  margin-top: 250px;
  

}

.box {
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  background-color: green;
}

.fas  {

  font-size: 15px;
  color: black; 
}
.fab  {

  font-size: 30px;
  color: black; 
}

.badge {
  background-color: blue;
  font-size: 20px;
}